*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cream: #fff7ed;
  --black: #252525;
  --gray: #4d4d4d;
  --lyellow: #ffead0;
  --lorange: #ff8c38;
  --white: #ffffff;
  --vlorange: #ffcc8d;
  --lred: #e17654;
  --green: #115e59;
}

body {
  font-family: "Inter", sans-serif; /* 400, 500, 700, 800*/
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  font-weight: 500;
  line-height: 24px;
}

button {
  border: none;
  font-weight: 700;
}

button,
a {
  transition: all 200ms ease-in-out;
}

nav {
  background-color: var(--cream);
}

.nav,
nav ul {
  justify-content: space-between;
  display: flex;
}

.nav img {
  max-width: 7rem;
}

.container {
  width: min(100vw - 2rem, 550px);
  margin-inline: auto;
  padding: 1.5rem;
}

/* Nav items styling */

.nav ul {
  gap: 1rem;
}

ul li a,
.van--details a,
.host a {
  color: var(--gray);
  font-family: inherit;
  font-weight: 600;
}
ul li a:hover,
.van--details a:hover,
.host a:hover {
  color: var(--black);
  /* selected style: - */
  border-bottom: 3px var(--gray) solid;
}

/* Home Section */
main {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("../src/assets/images/mountain.png");
  width: 100vw;
  min-height: 85vh;
  color: var(--white);
  display: grid;
  align-content: center;
}

.main--title {
  font-weight: 800;
  font-size: clamp(2.5rem, 4vw, 4rem);
}

.main--text,
.about--text {
  padding-block: 1.5rem;
}

.btn {
  border-radius: 5px;
  padding-block: 0.875rem;
  letter-spacing: 0.025rem;
}

.btn:hover {
  transform: scale(1.1);
}

.btn--long,
.btn--black {
  color: var(--white);
}

.btn--long {
  font-size: 1rem;
  background-color: var(--lorange);
  width: 100%;
}

/* Home Section */

/* <>>>>>>>>>>>>>>>>>>>>>>>> FOOTER<><>>>>>>>>>>> */
footer {
  position: relative;
  background-color: var(--black);
  font-size: 0.875rem;
  color: #aaaaaa;
  text-align: center;
  padding-block: 1.5rem;
  text-transform: uppercase;
}

/* <>>>>>>>>>>>>>>>>>>>>>>>> FOOTER<><>>>>>>>>>>> */

/* <<<<<>>>>ABOUT SECTION <<<>>>>>>>>>> */
.about--img {
  width: 100%;
  /* height: 20vh; */
  display: block;
  max-height: 450px;
}

.about--img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
}

.about--title,
.vans--title {
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 2.5rem);
}

.about--text {
  line-height: 1.375rem;
}

.about--footer {
  background-color: var(--vlorange);
  border-radius: 5px;
  padding: 1.5rem;
}

.about--footer h2 {
  font-size: clamp(1.2rem, 2vw, 2rem);
  width: 70%;
}

.about--footer .btn {
  display: block;
  width: fit-content;
  margin-block-start: 1.5rem;
  margin-block-end: 0.5rem;
}

.btn--black {
  padding: 0.7rem 1rem;
  font-size: 0.875rem;
  background-color: var(--black);
}

/* <<<<<>>>>ABOUT SECTION <<<>>>>>>>>>> */

/* <>>><<<<<<<><><>VANS<<>>>>>>>>>>>><>><><><>< */
.van--container {
  width: min(1000px, 100vw - 2rem);
  margin-inline: auto;
  text-align: center;
}

.van--container a {
  color: initial;
}

.vans--title {
  padding-block: 1.5rem;
}

.van--container button {
  color: var(--gray);
  font-size: 0.875rem;
}

.btn--options {
  background-color: var(--lyellow);
  padding-inline: 1rem;
  margin-inline-end: 1.5rem;
  margin-block-end: 1rem;
}

.van--container button[type="reset"] {
  background-color: transparent;
}
.van--container button[type="reset"]:hover {
  text-decoration: underline;
  color: var(--black);
}

.vans {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 2rem;
  justify-content: center;
}

.van img {
  max-width: 250px;
  border-radius: 5px;
}

.van--content {
  display: flex;
  padding-block-start: 0.5rem;
  justify-content: space-between;
}

.van--title,
.van--price {
  font-weight: 600;
}

.van--price span {
  font-weight: 500;
  font-size: 0.875rem;
  display: block;
  transform: translateY(-8px);
}

.van i {
  transform: translateY(-1rem);
}

i {
  display: block;
  width: fit-content;
  color: var(--lyellow);
  font-size: 0.875rem;
  text-transform: capitalize;
  text-align: left;
  font-style: normal;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.btn--options:hover {
  color: var(--white);
}

.simple,
.btn--simple:hover {
  background-color: var(--lred);
}
.luxury,
.btn--luxury:hover {
  background-color: var(--black);
}
.rugged,
.btn--rugged:hover {
  background-color: var(--green);
}
/* <>>><<<<<<<><><>VANS<<>>>>>>>>>>>><>><><><>< */

/* <<>>>>>>>>>>>Van Details Page <<<<<<<<<>>>>>>>>>>> */

.van--details .van--detail_img {
  padding-block: 1rem;
  width: 100%;
  border-radius: 20px;
}

.van--details i {
  margin-block: 0.5rem;
}

.van--detail_title {
  font-weight: 700;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.van--detail_price span {
  color: var(--black);
  font-weight: 700;
  font-size: 1.5rem;
  padding-block: 0.5rem;
}

.van--detail_text {
  color: var(--gray);
  padding-block: 1rem;
}

/* <<>>>>>>>>>>>Van Details Page <<<<<<<<<>>>>>>>>>>> */
